{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'bibliSearch/style.css' %}" />

<p>bibliS3arch</p>

<div class="form">
  <form action="{% url 'bibliSearch:searchWithTitle' %}" method="get">
    <!--{% csrf_token %}-->
    <input id="form_book_title" type="text" name="book_title"
    placeholder="Veuillez saisir un titre"
    type="submit"></input>
  </form>
</div>

<div class="logo">
    <img src="../static/bibliSearch/images/background.png" alt="sorbonne-logo" />
</div>