{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if question_list %}
  <ul>
  {% for question in question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p>No polls are available.</p>
{% endif %}

<!--
<input class="button sargon" type="button" value="Sargon"/>
<input class="button saïgon" type="button" value="Saïgon"/>
-->

<form action="" method="get">
  <input type="text" id="txt_search" name="txt_sargon" 
  placeholder="Veuillez entrer un titre"
  onsubmit=""></input>
</form>
