body {
      background: white url("images/background.png")  center no-repeat;
      background-size: 30%;
      background-position-y: 20%;
}

li a {
      color: green;
     
}

ul {
      position: relative;
      top: 50%;
      left: 45%;
}

.button {
      background-color: green;
      border: none;
}

#txt_search {

      position: relative;
      margin-top: 30%;
      margin-left: 45%;

      
}
